*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  display: block;
  width: 100%;
  border-radius: 4px;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid black;
}

.form-container{
  width: 600px;
  margin: auto;
}